<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties" />
	
	<property name="HOME_LOG" value="logs/app.log" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<!-- each archived file, size max 10MB -->
			<maxFileSize>10MB</maxFileSize>
			<!-- total size of all archive files, if total size > 1GB, it will delete old archived file -->
			<totalSizeCap>1GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="${root.level}">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="tools.sctrade.companion" level="${logger.tools.sctrade.companion}">
	</logger>

	<logger name="tools.sctrade.companion.utils.ProcessRunner" level="${tools.sctrade.companion.utils.ProcessRunner}">
	</logger>

	<!-- DO NOT log keyboard interupts -->
	<logger name="org.jnativehook" level="off">
	</logger>

</configuration>
